<button class="button button-pill button-rounded button-highlight" data-toggle="modal" data-target="#crontabCreate">
    创建基金定投
</button>
<button class="button button-pill button-rounded button-caution" data-toggle="modal" data-target="#crontabList">
    定投列表
</button>
<button class="button button-pill button-primary" data-toggle="modal" data-target="#frankList">
    基金排行
</button>

<div class="modal fade" id="crontabCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    创建基金定投
                </h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon" id="create-crontab-name">定投名称</span>
                    <input type="text" id="crontabName" class="form-control" aria-describedby="create-crontab-name">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="create-crontab-fundCode">定投基金</span>
                    <input type="text" id="fundCode" class="form-control"
                           aria-describedby="create-crontab-fundCode">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="create-crontab-startTime">开始时间</span>
                    <input type="text" id="startTime" class="form-control"
                           aria-describedby="create-crontab-startTime">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="create-crontab-endTime">结束时间</span>
                    <input type="text" id="endTime" class="form-control" aria-describedby="create-crontab-endTime">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="create-crontab-amount">定投金额</span>
                    <input type="text" id="amount" class="form-control" aria-describedby="create-crontab-amount">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="create-crontab-buyRate">买入费率</span>
                    <input type="text" id="buyRate" class="form-control" aria-describedby="create-crontab-buyRate">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="create-crontab-sellRate">卖出费率</span>
                    <input type="text" id="sellRate" class="form-control"
                           aria-describedby="create-crontab-sellRate">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="crontabCreate()" data-dismiss="modal">
                    提交更改
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="crontabList" tabindex="-2" role="dialog" aria-labelledby="crontabListModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width:100%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="crontabListModalLabel">
                    定投列表
                </h4>
            </div>
            <div class="modal-body">
                <table class="table table-condensed table-bordered">
                    <tr class="active">
                        <th>定投ID</th>
                        <th>名称</th>
                        <th>基金CODE</th>
                        <th>基金名称</th>
                        <th>金额</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>买费</th>
                        <th>卖费</th>
                        <th>创建时间</th>
                        <th>状态</th>
                    </tr>
                    <tr ng-repeat="crontab in crontabs">
                        <td>{{ crontab.id }}</td>
                        <td>{{ crontab.crontabName }}</td>
                        <td>{{ crontab.fundCode }}</td>
                        <td>{{ crontab.fundName }}</td>
                        <td>{{ crontab.amount }}</td>
                        <td>{{ crontab.startTime }}</td>
                        <td>{{ crontab.endTime }}</td>
                        <td>{{ crontab.buyRate }}</td>
                        <td>{{ crontab.sellRate }}</td>
                        <td>{{ crontab.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td ng-if="crontab.state==0" class="danger"> 禁用中</td>
                        <td ng-if="crontab.state==1" class="active"> 启用中</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="frankList" tabindex="-2" role="dialog" aria-labelledby="frankListModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width:100%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="frankListModalLabel">
                    基金排行
                </h4>
            </div>
            <div class="modal-body">
                <table class="table table-condensed table-bordered">
                    <tr class="active">

                        <th>基金代码</th>
                        <th>基金净值</th>
                        <th>基金比例</th>
                        <th>时间</th>
                        <th>基金url</th>
                        <th>序号</th>
                    <tr ng-repeat="frank in ranks">

                        <td>{{ frank.fundCode }}</td>
                        <td>{{ frank.netWorth }}</td>
                        <td>{{ frank.ratio }}</td>
                        <td>{{ frank.time }}</td>
                        <td><a href="http://fund.eastmoney.com/{{frank.fundCode}}.html?spm=001.2.swh"
                               target="_blank">{{
                            frank.fundCode }}</a></td>
                        <td>{{ frank.id }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>